<div id="mySidenav" class="sidenav">
  <a class="logoTxt" href="javascript:void(0)" routerLink="home" routerLink="home">D2k Studio</a>


  <mat-nav-list>

    <a mat-list-item routerLinkActive="active" routerLink="home">
      <mat-icon mat-list-icon>home</mat-icon>Home</a>

      <a mat-list-item routerLinkActive="active" routerLink="imageAfour">
      <mat-icon mat-list-icon>home</mat-icon>Image Test</a>
    <a mat-list-item routerLinkActive="active" (click)="logout();">
      <mat-icon mat-list-icon>exit_to_app</mat-icon> Logout </a>

  </mat-nav-list>

</div>
