<div class="container">
        <br>
        <h5 mat-line> D2k elements</h5>
        <mat-divider></mat-divider>
        <br>
      
        <div class="row">
          <div [ngClass]="{'col-sm-3':childData.length>0,'col-sm-12':!childData.length>0}">
            <div>
              <mat-accordion>
                <mat-expansion-panel *ngFor="let meta of metaData">
                  <mat-expansion-panel-header>
                    {{meta.title}}
                  </mat-expansion-panel-header>
                  <mat-list>
                    <mat-list-item *ngFor="let clients of meta.data" style="cursor: pointer;" (click)="metaDetails(clients)">
                      <mat-icon mat-list-icon>folder</mat-icon>
                      <h4 mat-line>{{clients.title}}</h4>
                      <mat-divider></mat-divider>
                    </mat-list-item>
                  </mat-list>
      
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </div>
          <div [ngClass]="{'col-sm-9':childData.length>0}">
            <div *ngIf="childData.length>0">
              <h4 mat-line>
                <mat-icon mat-list-icon>folder</mat-icon> {{childData[0].title}}</h4>
              <mat-divider></mat-divider>
              <mat-list>
                <div *ngFor="let meta of childData">
                  <mat-accordion>
                    <mat-expansion-panel *ngFor="let info of meta.data">
                      <mat-expansion-panel-header>
                        {{info.title}}
                      </mat-expansion-panel-header>
                      <mat-accordion>
                        <mat-expansion-panel *ngFor="let links of info.data">
                          <mat-expansion-panel-header>
                            {{links.title}}
                          </mat-expansion-panel-header>
                          <mat-accordion>
                            <mat-expansion-panel *ngFor="let data of links.data">
                              <mat-expansion-panel-header>
                                {{data.title}} 
                              </mat-expansion-panel-header>
                              <mat-list>
                                  <mat-list-item style="cursor: pointer;">
        
                                    <h4 mat-line>{{data.title}}</h4>
                                    <a href="{{data.url}}" target="_blank">
                                      <mat-icon *ngIf="data.format=='file'" mat-list-icon>cloud_download</mat-icon>
                                      <mat-icon *ngIf="data.format=='web'" mat-list-icon>desktop_windows</mat-icon>
                                    </a>
        
                                    <mat-divider></mat-divider>
                                  </mat-list-item>
                                </mat-list>
      
                              <mat-list>
                                <mat-list-item *ngFor="let linkInfo of data.data" style="cursor: pointer;">
      
                                  <h4 mat-line>{{linkInfo.title}}</h4>
                                  <a href="{{linkInfo.url}}" target="_blank">
                                    <mat-icon *ngIf="linkInfo.format=='file'" mat-list-icon>cloud_download</mat-icon>
                                    <mat-icon *ngIf="linkInfo.format=='web'" mat-list-icon>desktop_windows</mat-icon>
                                    <mat-icon mat-list-icon>copy</mat-icon>
                                  </a>
      
                                  <mat-divider></mat-divider>
                                </mat-list-item>
                              </mat-list>
                            </mat-expansion-panel>
                          </mat-accordion>
                        </mat-expansion-panel>
                      </mat-accordion>
      
                    </mat-expansion-panel>
                  </mat-accordion>
      
                </div>
              </mat-list>
            </div>
          </div>
        </div>
      </div>